#grille {
    display: grid; 
    padding-top: 30px;
    grid-template-columns: repeat(19,40px); 
    grid-template-rows: repeat(22,40px);

}

body {
background-color: black;
background-image: url("./image/backgroundpac.gif");
background-repeat: no-repeat;
background-size: 30%;
background-position-y: 100%;
background-position-x: 4%;
display: flex;
justify-content: space-between;

}

.flex{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-top: 30px;
    padding-left: 30px;
    text-align: center;
    margin: 100px;
    
}

.score{
    border: 4px red dotted;
    border-radius: 30px;
    color: white;
    width: 30%;
    text-align: center;
    padding: 50px;
    margin-left: 80px;
    
}


.pacman_girl img{
    padding: 0;
    width: 100%;
    margin-top: 550px;
}


.mur {
    
    background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgb(253, 104, 45) 100%);
    border: 2px red dotted;
    
}

.sol {
    background-image: url("./image/sol.gif");
}

.bonbon {
    background-image: url("./image/bonbon.gif");
}

.pacman {
background-image: url("./image/pacman4.gif");
}

.fantome0 {
    background-image: url("./image/fantome0.gif");
}

.fantome1{
    background-image: url("./image/fantome1.gif");

}

.fantome2{
    background-image: url("./image/fantome2.gif");

}

.fantome3{
    background-image: url("./image/fantome3.gif");

}